* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 94vw;
    height: 90vh;
    margin: 15px auto;
    /* border: 1px solid; */
    border-radius: 8px;
    box-shadow: 0 10px 20px 0px #3a4348;
    background-color:#f1fdff;
    padding: 15px;
}

header nav {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    /* width: 95%; */
    /* margin: 0px auto; */
}

nav .name {
    /* border: 1px solid; */
    margin-left: 25px;
    font-size: 33px;
    font-weight: 700;
    color: blue;

}

/* nav .services {
    border: 1px solid;
} */

nav .services ul{
    display: flex;
}

nav .services ul li{
    list-style: none;
    padding: 16px;
    font-weight: 600;
    font-size: 17px;
}


nav .services ul li:hover{
    cursor: pointer;
    background-color: rgb(46, 160, 248);
    border-radius: 8px;
    font-weight: 700;
}

nav .links {
    /* border: 1px solid; */
    margin-right: 25px;
}

header main{
    /* border: 1px solid; */
    height: 90%;
    display: flex;
}

main .intro{
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

main .photo{
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}

.intro small{
    font-size: 20px;
    font-weight: 500;
}

.intro h1{
    font-size: 80px;
}

.intro p{
    font-weight: 600;
    font-size: 40PX;
    color: blue;
}

.intro button{
    margin-top: 10px;
    width: 15%;
    padding: 6px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    background-color: blue;
    border: 2px solid blue;
}